<meta charset="UTF-8" />
<meta name="viewport"
      content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible"
      content="ie=edge" />
<title>Nentora Forums</title>

<!-- Bootstrap and third parties -->
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Playfair+Display&display=swap"
      rel="stylesheet">
<link rel="stylesheet"
      href="/font-awesome/css/all.min.css" />
<link rel="stylesheet"
      href="/bootstrap/bootstrap.min.css"
      type="text/css" />

<!-- My styles -->
<link rel="stylesheet"
      href="/css/styles.css"
      type="text/css" />

<!-- Mentions Plugin styles -->
<link rel="stylesheet"
      href="/css/autocomplete.css"
      type="text/css" />
<link rel="stylesheet"
      href="/css/rte-content.css"
      type="text/css" />

<!-- jQuery and Bootstrap-related scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script defer
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"
        integrity="sha256-0+5OfvOxkLHqpLPPwy9pDjug8N3cwaqcmleaxnR5VS8="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script defer
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo="
        crossorigin="anonymous"></script>

<!-- My scripts -->
<script defer
        src="/js/script.js"></script>
